.footer {
  background-color: $footer-bg;
  padding: 72px 0 51px;
  font-size: 14px;
  letter-spacing: 0.05rem;

  @include mediaTablet {
    padding: 36px 0 25px;
  }
}

.footer__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr );
  gap: 30px;

  @include mediaTablet {
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr) );
    gap: 40px 30px;
  }

}

.footer__logo {
  margin-top: -12px;
}


.footer-nav__list {
  display: grid;
  gap: 15px

}


.footer__address {
  display: grid;
  gap: 20px;
}

