.header {
  padding-top: 30px;
  padding-bottom: 74px;
  min-height: 840px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //align-items: center;


  background: linear-gradient(
                  180deg,
                  #242B33 11.98%,
                  rgba(45, 52, 60, 0.38) 51.04%,
                  #242B33 92.19%
  ),
  url(./../img/header/header-bg.jpg);

  @include mediaTablet {
    min-height: unset;
    row-gap: 50px;
  }

}

.header__top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__top-row--mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $dark;
  z-index: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 60px;
  padding: 40px 0;

  .header__nav {
    display: block;
  }

  .nav__list {
    flex-direction: column;
    align-items: center;
  }

  .header__nav-btn {
    position: fixed;
    top: 30px;
    right: 30px;
  }
}

/*
@mixin mediaTablet{
  @media screen and (max-width: $tablet){
    @content;
  }
}
*/

.header__nav {

  //@media screen and (max-width: $tablet) {
  //    display: none;
  //  }

  @include mediaTablet {
    display: none;
  }
;
}

.header__nav-btn {
  display: none;

  @media screen and (max-width: $tablet) {
    display: block;
  }
}

.header__title {
  padding-bottom: 121px;
  text-align: center;
  font-family: $font-accent;
  font-size: 48px;
  color: $accent;
  font-weight: 700;

  position: relative;

  @include mediaTablet {
    font-size: 32px;
    padding-bottom: 100px;
  }

}

.header__title-icon {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.header__footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  @include mediaTablet {
    grid-template-columns: 1fr;
    justify-items: center;
  }

}
