.info {
  font-size: 18px;
  position: relative;

  &--map, &--tel {
    padding-left: 35px;

    &::before {
      content: '';

      position: absolute;
      left: 0;
      top: 50%;
      width: 21px;
      height: 21px;

      transform: translateY(-50%);

      background-repeat: no-repeat;
      background-position: center;
    }

  }

  &--map::before {
    background-image: url('./../img/header/locat.svg');
  }

  &--tel::before {
    background-image: url('./../img/header/phone.svg');
  }

  @include mediaTablet {
    font-size: 14px;
    &--map, &--tel {
      padding-left: 25px;
    }

  }

}

