.section-map {
  padding: 180px 0;
  position: relative;

  &::before {
    content: "V";
    right: calc(50% + 555px);
    transform: translateX(50%);
    z-index: -1;
    @include decorNumber;
    top: 143px;

  }

  @include mediaTablet {
    padding: 100px 0;
   }

}


.section-map__title {
  margin-bottom: 88px;

  @include mediaTablet {
    margin-bottom: 40px;
   }
}


.section-map__map {
}

.map {
  height: 358px;
  background-color: #626262;
}


