.video {
  text-align: center;
  position: relative;
  overflow: hidden;

  &::after {
    content: "IV";
    left: calc(50% + 550px);
    transform: translateX(-50%);
    @include decorNumber;
  }
  @include mediaTablet {
     grid-template-columns:1fr
   }
}

.video__link {
  position: relative;
  display: inline-block;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 43, 51, 0.8);
    transition: background-color .2s ease-in;
  }

  &:hover::before {
    background-color: rgba(36, 43, 51, 0.7)

  }
}

.video__link:hover .video__icon {
  transform: translate(-50%, -50%) scale(1.1);
  filter: saturate(1.5);
}

.video__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all .2s ease-in;

  @include mediaTablet {
    width: 80px;
    height: 80px;
   }
}

.video__img {
}