//Fonts
$font-main: "Raleway", serif;
$font-accent: "Playfair Display", serif;
$font-secondary: "Roboto", serif;

//Colors
$dark: #242B33;
$accent: #D4C17F;
$white: #FFF;
$footer-bg: #2D343C;
$placeholder: #BEBEBE;
$muted: #E7E7E7;

// Media
$tablet: 959px